.main{
   height: 100vh;
   width: 100%;
   display: flex;
   flex-wrap: nowrap;
   margin: 50px 50px;
   justify-content: space-around;
}
#name{
    font-size: 5rem;
}
.header{
    height: 80px;
    background-color: rgba(0, 0, 0, 0.447);
    width: 100%;
    display: flex;
    align-items: center;

    padding: 0px 50px;
}
.number{
    padding: 0px 20px;
    display: flex;
    gap: 10px;
}
.email{
  display: flex;
  gap: 10px;
}
.profile {
    float: right;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9301;
    width: 420px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease; 
}
.profile:hover {
    box-shadow: 5px 5px 10px 10px rgba(71, 71, 71, 0.4); 
}
#profile{
    width: 400px;
    height: 400px;
}
.sub-title{
   width: 450px;
   padding: 10px 0px;
   color: hsla(0,0%,100%,.8);
}
.main-text {
   width: 700px;
   height: 450px;
   padding: 70px 30px;
   border-radius: 10px;
   position: relative;
   box-shadow: 0 8px 16px rgba(43, 40, 40, 0.2);
   background-color: transparent; /* Set background color to match your background */
   overflow: hidden;
   
}
/* Star */
.star {
   position: absolute;
   font-size: 30px;
   color: gold; /* Star color */
   animation: moveStar 25s linear infinite;
 }
 
 /* Animation Keyframes */
 @keyframes moveStar {
   0% {
     top: 0;
     left: 0;
     transform: rotate(0deg);
   }
   25% {
     top: 0;
     left: calc(100% - 40px);
     transform: rotate(360deg);
   }
   50% {
     top: calc(100% - 40px);
     left: calc(100% - 40px);
     transform: rotate(0deg);
   }
   75% {
     top: calc(100% - 40px);
     left: 0;
     transform: rotate(360deg);
   }
   100% {
     top: 0;
     left: 0;
   }
 }
 
 .main-text:hover .star {
   transform: translateY(200px); 
 }
 

.main-text:hover {
    box-shadow: 0 12px 24px rgba(43, 40, 40, 0.4); 
}
.developer{
   display: flex;
   gap: 10px;
   font-size: 1.8rem;
}

 .main-btn{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #ff9301 ;
    color: white;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .main-btn:hover {
    color: #000000;
    background-color: hsl(0, 0%, 100%);
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  }
  #person{
    height: 100vh;
    width: 100%;
    background-color: #0c0c14;
  }
  @media screen and (max-width: 768px) {
    .main {
      width: 100%;
      flex-wrap: nowrap;
      flex-direction: column-reverse;
      align-items: center;
    }
    #name {
      font-size: 3rem;
  }
    .profile {
      height: 700px;
      width: 220px;
    }
    #profile{
      height: 193px;
      width: 205px;
    }
 
    .header,
    .main-text,
    .sub-title {
      padding: 0px 2%;
    }
  
    .sub-title {
      width: 100%;
      padding: 0px 45px 0px 0px;
    }
  
    .main-btn {
      margin-top: 20px;
    }
  }