/* Base styles for the sidebar */
.sidebar {
  height: 100%;
  width: 100%;
  background-color: #0c0c14;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(57, 58, 58);
  transition: height 0.3s ease-in-out;
}

/* Logo styles */
.logo {
  height: 80px;
  width: 80px;
  position: sticky;
  background: #ff9301;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

/* Navigation link styles */
.nav-icon {
  margin: 20px 0px;
  padding: 20px 0px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  width: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%; /* Adjust width for responsiveness */
  padding: 15px;
  gap: 10px;
  border-bottom: 1px solid rgba(62, 59, 59, 0.415);
  color: white;
  transition: color 0.3s ease;
}

/* Sidebar icon styles */
.sidebar-icons {
  padding: 0px 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fa586a;
}

/* Anchor link styles */
a {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}

/* Active and hover styles */
li:hover,
li.active {
  color: #ff9301;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .sidebar {
    height: 100%;
  }

  .open {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(57, 58, 58);
    position: absolute;
    z-index: 100;
    padding: 70px 20px;
  }

  .apple-logo {
    display: none;
  }
}
