.experience{
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.ex-data{
  margin: 90px 150px 40px 150px;
}
.ex-details{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    
    margin: 10px 150px ;
}
.ex-box{
    width: 90%;
    height: auto;
    min-height: 150px;
    padding: 20px;
    border-radius: 10px;
    background-color: #0b0b13;
}
.ex-box:hover {
  box-shadow: 1px 2px 5px 5px rgba(62, 62, 64, 0.182); 
}
.ex-tag{
    display: inline-block;
    width: 210px;
    font-size: 1.3rem;
    font-weight: 500;
}
.ex-head{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.ex-cp{
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  width: 75%;
}
.ex-cp-tag{
    height: 100px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(62, 52, 52);
}
.ex-cp-name{
    display: inline-block;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
}
.ex-work{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.ex-btn{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #ff9301 ;
    color: white;
    width: 100px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.star-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 3.5px;
    font-size: 1.4rem;
    font-weight: 700;
    position: relative;
    perspective: 100px;
    height: 50px;
    overflow: hidden;
    padding: 50px 120px;
    margin-top: 100px;
  }
  
  .star-container b {
    height: 3.5rem;
    color:#ff9301;
    background: #ff9301 ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: bottom;
    transform: rotateX(0deg);
    animation: staranim 1s infinite;
  }
  
  @keyframes staranim {
    0% {
      transform: rotateX(0deg);
    }
    10% {
      transform: rotateX(20deg);
    }


    0%, 60%, 100% {
      transform: rotateX(0deg);
    }
  }
  @media screen and (max-width: 1024px) {
    .ex-details{
      margin: auto;
    }
   .ex-box{
    width: 90%;
    height: auto;
    max-height: 520px;
   }
   .ex-cp-tag{
      width: auto;
       border-right: none;
      padding-bottom: 20px;
       border-bottom: 1px solid rgb(62, 52, 52);
   }
   .ex-cp{
    width: 100%;
   }
}